@defer (when isLoading$ | async) {
  @if(myVehicles.length > 0) {
    <div class="posts">
      @for (vehicle of myVehicles; track vehicle.owner) {
        <div class="article">
          <div class="actions">
            <button (click)="edit(vehicle._id)" class="edit-button">
              <i class="fi fi-rr-pencil"></i>
            </button>
            <button (click)="delete(vehicle._id)" class="delete-button">
              <i class="fi fi-rr-cross"></i> 
            </button>
          </div>
          <div class="image">
            @if (vehicle.portrait) {
              <img src="data:{{vehicle.portrait.contentType}};base64,{{toBase64(vehicle.portrait.data.data)}}" alt="">
            } @else {
              <img src="https://placehold.co/600x400?text=Preview+no+disponible" alt="">
            }
          </div>
          <div class="description">
            <p class="tui-text_body-xl year-tag"><strong>{{vehicle.year}}</strong></p>
            <h2 class="tui-island__title">{{vehicle.brand}} {{vehicle.model}}</h2>
            <p class="price"><tui-money currency="USD" [value]="vehicle.price"></tui-money></p>
            <div>
              <a class="buy-button" [routerLink]="['/explore/vehicle/', vehicle._id]">Ver vehiculo</a>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <h1>No has publicado ningún vehículo todavia</h1>
  }
} @placeholder {
  <div class="posts">
    @for(skeleton of [].constructor(6); track skeleton) {
      <div class="skeleton">
        <div class="actions">
        <div class="edit-button"></div>
        <div class="delete-button"></div>
      </div>
        <div class="image">
        </div>
        <div class="description">
          <div class="Year"></div>
          <div class="brand"></div>
          <div class="price"></div>
          <div>
            <div class="buy-button"></div>
          </div>
        </div>
      </div>
    }
  </div>
}