.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;

    h1 {
        text-align: center;
    }

    .article {
        border-radius: 15px;
        box-shadow: 0px 1px 6px 4px #f2f2f2;
        text-decoration: none;
        border: 1px solid #f2f2f2;
        position: relative;

        .actions {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 15px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                border: none;
                font-size: 14px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: all 400ms;
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
    
            .edit-button {
    
                &:hover {
                    background-color: #ffee00;
                }
    
                &:active {
                    background-color: #d7c600;
                    color: white;
                }
            }

            .delete-button {
    
                &:hover {
                    background-color: #cf2a2a;
                    color: white;
                }
    
                &:active {
                    background-color: #841717;
                    color: white;
                }
            }

            .buy-button {
                width: 100%;
            }
        }

        .image {
            height: 200px;
            overflow: hidden;
            border-radius: 15px 15px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;

            &>img {
                object-fit: cover;
                height: 100%;
            }
        }

        .description {
            padding: 10px;
            display: grid;
            gap: 10px;

            .title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            p, h2 {
                margin: 0;
            }

            div {
                display: flex;
                justify-content: center;

                .buy-button {
                    border-radius: 15px;
                    text-decoration: none;
                    width: 100%;
                    border: solid 1px #4fa7f6;
                    padding: 10px;
                    text-transform: uppercase;
                    text-align: center;
                    transition: border 400ms;

                    &:hover {
                        border: solid 1 #1449a2;
                        color: #1449a2;
                    }
                }
            }
        }
    }

    .skeleton {
        border-radius: 15px;
        border: 1px solid rgb(201, 201, 201);
        text-decoration: none;
        position: relative;

        .actions {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 15px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                border: none;
                width: 40px;
                height: 40px;
                background-color: #ffffff;
            }
        }
    
        .image {
            height: 200px;
            overflow: hidden;
            border-radius: 15px 15px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: hsl(200, 20%, 95%);
            animation: loading-animation 1s linear infinite alternate;
        }
    
        .description {
            padding: 10px;
    
            .Year {
                height: 28px;
                margin: 19px 0px;
                width: 100px;
                background-color: hsl(200, 20%, 95%);
            }
    
            .brand {
                height: 28px;
                margin: 5px 0px;
                width: 200px;
                background-color: hsl(200, 20%, 95%);
            }
    
            .price {
                height: 20px;
                margin: 13px 0px;
                width: 90px;
                background-color: hsl(200, 20%, 95%);
            }
    
            div {
                display: flex;
                justify-content: center;
                border-radius: 15px;
                animation: loading-animation 1s linear infinite alternate;
    
                .buy-button {
                    border-radius: 15px;
                    text-decoration: none;
                    width: 100%;
                    border: solid 1px hsl(200, 20%, 95%);
                    height: 50px;
                    transition: border 400ms;
                    background-color: hsl(200, 20%, 95%);
                }
            }
        }
    
        @keyframes loading-animation {
            0% {
              background-color: hsl(0, 0%, 93%);
            }
            100% {
              background-color: hsl(0, 0%, 91%);
            }
          }
    }
}