<div class="articles">
    <div class="article" *ngFor="let article of articles">
      <div class="image">
        <img src="{{article.img}}" alt="">
      </div>
      <div class="description">
        <p class="tui-text_body-xl year-tag"><strong>{{article.year}}</strong></p>
        <h2 class="tui-island__title">{{article.brand}} {{article.model}}</h2>
        <p class="price" ><tui-money currency="USD" [value]="article.price"></tui-money></p>
        <div>
          <a class="buy-button" [routerLink]="['/vehicle', article._id]">Ver vehiculo</a>
        </div>
      </div>
    </div>
</div>
