<div tuiCarouselButtons class="wrapper">
    <tui-carousel 
        class="carousel"
        [duration]="4000"
        [(index)]="index"
        [draggable]="true"
        [itemsCount]="count"
        [style.--tui-carousel-gap]="5"
    >
        <ng-container *ngFor="let item of articles">
            <tui-island class="island" *tuiItem>
                <img draggable="false" src="{{item.img}}">
                <p class="tui-text_body-xl year-tag"><strong>{{item.year}}</strong></p>
                <h2 class="tui-island__title">{{item.brand}} {{item.model}}</h2>
                <div>
                    <p class="tui-text_h1"> <tui-money currency="USD" [value]="item.price"></tui-money></p>
                    <a 
                        tuiButton 
                        appearance="secondary"
                        [routerLink]="['/vehicle', item._id]"
                    >Ver vehiculo</a>
                </div>
            </tui-island>
        </ng-container>
    </tui-carousel>
    <br>
    <tui-pagination
        size="m"
        class="pagination"
        [length]="articles.length"
        [(index)]="index"
    ></tui-pagination>
</div>
