<div class="wrapper">
    <div class="island" [routerLink]="['/vehicle', item._id]" *ngFor="let item of articles">
        <div class="image">
            <img draggable="false" src="{{item.img}}">
        </div>
        <div class="description">
            <p class="tui-text_body-xl year-tag"><strong>{{item.year}}</strong></p>
            <h2 class="tui-island__title">{{item.brand}} {{item.model}}</h2>
            <p class="price"> <tui-money currency="USD" [value]="item.price"></tui-money></p>
            <div>
                <a class="buy-button" [routerLink]="['/vehicle', item._id]">Ver vehículo</a>
            </div>
        </div>
    </div>
</div>
