<nav class="navbar" #navBar>
  <div class="box"></div>
  <div #logo class="logo">
    <img class="logo-brand" src="./assets/images/RR-logo-brand-dark.png" width="200px">
  </div>
  <div class="items">
    <ng-container *ngTemplateOutlet="links"></ng-container>
  </div>
  @if (auth.isAuthenticated$ && user$ | async; as user) {
    <tui-hosted-dropdown class="dropdown" tuiDropdownAlign="right" [content]="options_list" [(open)]="open" tuiDropdownHover>
      <div class="profile-section" tuiHostedDropdownHost>
        <p class="text">{{user.name}}</p>
        <tui-avatar text="{{user.name}}" size="s" avatarUrl="{{user.picture}}"></tui-avatar>
      </div>
      <ng-template #options_list>
        <tui-data-list class="data-list" (click)="onClick()">
          <tui-opt-group>
              <ng-container *ngTemplateOutlet="optionLinks"></ng-container>
          </tui-opt-group>
          <tui-opt-group>
            <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })" tuiOption>
              <tui-svg src="tuiIconLogOut"></tui-svg> 
              Cerrar Sesión
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
    </tui-hosted-dropdown>
  } @else {
    <button class="log-in-button" (click)="auth.loginWithRedirect()">Iniciar Sesión</button>
  }
  <div class="items-mobile">
    <button type="button" class="nav-button" (click)="expanded = !expanded">
      <i class="fi fi-br-apps icon"></i>
    </button>
    <div class="side-nav-menu" [@expansion]="!expanded? 'close' : 'open'">
      <div class="nav-header">
        <img src="./assets/images/RR-logo-dark.png" width="50px">
        <button class="close-side-nav" (click)="expanded = !expanded">
          <i class="fi fi-br-cross"></i>
        </button>
      </div>
      <div class="nav-items">
        <ng-container *ngTemplateOutlet="navLinks"></ng-container>
      </div>
      <div class="credits">
        @if (auth.isAuthenticated$ | async) {
        <tui-hosted-dropdown tuiDropdownAlign="center" [content]="mobile" [(open)]="mobileOpen">
          <div *ngIf="user$ | async as user" tuiHostedDropdownHost class="profile-section">
            <p class="text">{{user.name}}</p>
            <tui-avatar text="{{user.name}}" size="s" avatarUrl="{{user.picture}}"></tui-avatar>
          </div>
          <ng-template #mobile>
            <tui-data-list class="mobile-data-list" (click)="onClick()">
              <ng-container *ngTemplateOutlet="optionLinks"></ng-container>
              <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })" tuiOption><tui-svg
                  src="tuiIconLogOut"></tui-svg> Cerrar Sesión</button>
            </tui-data-list>
          </ng-template>
        </tui-hosted-dropdown>
        } @else {
        <button class="log-in-button" (click)="auth.loginWithRedirect()">Iniciar Sesión</button>
        }
      </div>
    </div>
  </div>
</nav>