<nav class="navbar" #navBar>
    <div #logo class="logo">
      <img class="logo-brand" src="./assets/images/RR-logo-brand-dark.png" width="200px">
      <img class="logo-img" src="./assets/images/RR-logo-dark.png">
    </div>
    <div class="items">
      <ng-content select=".link-item"></ng-content>
    </div>
    <button class="publish-button --tui-font-heading">Publicar vehículo</button>
    <div class="items-mobile">
      <button class="nav-button" (click)="expanded = !expanded">
        <i class="fi fi-rr-bars-sort icon"></i>
      </button>
      <div class="side-nav-menu" [@expansion]="!expanded? 'close' : 'open'">
        <div class="nav-header">
          <div class="empty-box"></div>
          <h1>Menú</h1>
          <button class="close-side-nav" (click)="expanded = !expanded">
            <i class="fi fi-br-cross"></i>
          </button>
        </div>
        <div class="nav-items">
          <ng-content select=".nav-item"></ng-content>
        </div>
        <div class="credits">
          <p>2023 © RoadRunners</p>
        </div>
      </div>
    </div>
  </nav>