@mixin responsive($number) {
    @media screen and (max-width: $number) {
        @content
    }
}

$base: #5e6e7b;
$active: #414c55;
$hover: #697b88;
$box-shadow: rgba(0, 0, 0, 0.084) 0px 25px 20px -20px;

.navbar {
    padding: 0 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    height: 60px;
    transition: all 400ms;

    @include responsive(1100px) {
        padding: 0 20px;
    }

    @include responsive(850px) {
        flex-direction: row-reverse;

        .dropdown {
            display: none;
        }

        .data-list {
            display: none;
        }
    }

    .box {
        display: none;

        @include responsive(850px) {
            display: block;
            width: 40px;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-brand {
            align-self: center;
        }
    }

    .profile-section {
        border-radius: 15px;
        padding: 0 15px;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        transition: all 400ms;

        .text {
            font-weight: 800;
            font-size: 16px;
        }

        &:hover {
            color: white;
            background-color: $hover;
            box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        }

        &:active {
            color: white;
            background-color: $active;
            box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        }
    }

    .log-in-button {
        padding: 10px 15px;
        border-radius: 12px;
        border: none;
        background-color: #234454;
        color: white;
        font-size: 16px;
        transition: all 400ms;

        @include responsive(850px) {
            display: none;
        }

        &:hover {
            background-color: #28586b;
            box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
        }

        &:active {
            background-color: #1f4453;
            box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
        }
    }

    .items {
        display: flex;
        justify-content: center;
        gap: 20px;

        .nav-link-item {
            font-size: 14px;
            text-transform: uppercase;
            color: #5e6e7b;
            transition: all 400ms;
            text-decoration: none;

            @include responsive(850px) {
                display: none;
            }

            &:hover,
            &:active {
                color: black;
                font-weight: 600;
            }
        }

        .active {
            font-weight: 600;
            color: black;
        }
    }

    .items-mobile {
        display: none;

        @include responsive(850px) {
            display: block;
        }

        .nav-button {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            transition: transform 400ms;
            width: 50px;

            .icon {
                font-size: 20px;
            }

            &:active {
                transform: scale(0.7);
            }
        }

        .side-nav-menu {
            box-sizing: border-box;
            padding: 10px;
            position: fixed;
            top: 0;
            left: 0;
            width: 260px;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.94);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 0 6px rgb(208, 208, 208);
            z-index: 3;
            backdrop-filter: blur(20px);

            .nav-header {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .close-side-nav {
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    transition: transform 400ms;

                    &:active {
                        transform: scale(0.7);
                    }
                }

                .empty-box {
                    width: 30px;
                }
            }

            .nav-items {
                box-sizing: border-box;
                width: 100%;
                display: grid;
                gap: 10px;
            }

            .credits {
                text-transform: uppercase;
            }
        }
    }
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.873);
    backdrop-filter: blur(20px);
    box-shadow: $box-shadow;
}