# See http://help.github.com/ignore-files/ for more about ignoring files.
**/node_modules/
**/.git
**/README.md
**/LICENSE 
**/.vscode 
**/npm-debug.log 
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist