<div class="sell-car">
    <div class="sell">
        <!-- <app-sell-form></app-sell-form> -->
        <ng-container [formGroup]="sellVehicleForm">
            <app-vehicle-info-form class="info" formGroupName="info"></app-vehicle-info-form>
            <app-vehicle-images-form class="images" formGroupName="images"></app-vehicle-images-form>
            <app-contact-info-form class="contact" formGroupName="contact"></app-contact-info-form>
        </ng-container>
        <pre style="margin-top:50px; border: 1px solid red; width: fit-content">
            {{sellVehicleForm.value | json}}
        </pre>
    </div>
</div>