@mixin tabletView {
    @media screen and (max-width: 1000px) {
        @content
    }
};

.sell{
    display: flex;
    gap: 15px;
    opacity: 90%;
    padding: 25px;
    border-radius: 15px;
    margin: 0px 200px;
    height: 100vh;
    min-height: 400px;

    @include tabletView {
        margin: 0px 20px;
    }

    .banner{
        width: 40%;

        p, h1, h3{
            font-weight: 300;
            text-shadow: 0px 0px 1px rgb(0, 0, 0);
            color: rgb(0, 0, 0);
        }
    }

    .form{
        width: 60%;
    }
}