@mixin responsive($number) {
    @media(max-width: $number) {
        @content
    }
}

.sell-car {
    padding: 0px 200px;

    @include responsive(1000px) {
        padding: 60px 20px;
    }

    .sell{
        display: flex;
        gap: 15px;
        flex-direction: column;

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .images {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contact {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}