<div class="footer">
    <div class="image">
        <img class="logo-brand" src="./assets/images/RR-logo-brand.png">
    </div>
    <div class="members">
        @for(member of members; track $index) {
            <a class="member" [href]="member.url" target="_blank">
                <tui-avatar [avatarUrl]="member.pictureUrl" [rounded]="true"></tui-avatar>
                <p class="github-link">{{ member.role }}</p>
            </a>
        }
    </div>
    <p class="credits">Made with ❤️ by us, <a href="https://github.com/Tcriss/RoadRunners-Front" target="_blank">Source code</a></p>
</div>
