.navbar{
    display: grid;
    grid-template-areas: 'logo items empty';
    grid-template-columns: 25% 1fr 25%;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.873);

    .logo{
        grid-area: logo;
    }

    .items{
        grid-area: items;
        display: flex;
        justify-content: center;
    }

    .empty{
        grid-area: empty;
    }
}