<ng-container [formGroup]="form" >
    <div class="contact-info">
        <h1 class="form-title">Información de contacto</h1>
        <form class="contact-form" action="">
            <tui-input formControlName="ownerEmail">E-mail
                <input tuiTextfield placeholder="E-mail para contactarte"/>
            </tui-input>

            <tui-input formControlName="location">Ubicacion
                <input tuiTextfield placeholder="Ubicacion de la venta"/>
            </tui-input>

            <tui-input-number
                tuiHintContent="Dollar sign is commonly placed BEFORE the amount. Use [prefix]."
                formControlName="price"
                [tuiTextfieldPrefix]="'RD$ ' | tuiCurrency"
                decimal="never"
            >
            Precio del vehículo
        </tui-input-number>
        </form>
    </div>
</ng-container>
