<div class="background">
    <section class="actions">
        <button class="close-button" (click)="close()">
            <i class="fi fi-rr-cross-small"></i>
        </button>
    </section>
    <section class="previewer">
        <tui-carousel #carousel [itemsCount]="1">
            @for(image of images; track image.id) {
                <img [src]="image.url" class="preview" *tuiItem >
            }
        </tui-carousel>
    </section>
    <section class="selector">
        <button class="backward" (click)="carousel.prev()">
            <i class="fi fi-br-angle-small-left"></i>
        </button>
        <button class="forward" (click)="carousel.next()">
            <i class="fi fi-br-angle-small-right"></i>
        </button>
    </section>
</div>