@defer (when isLoading$ | async) {
  @if(myVehicles.length > 0) {
    <div class="posts">
      @for (vehicle of myVehicles; track vehicle.owner) {
        <div class="article">
          <div class="actions">
            <tui-hosted-dropdown #dropdown [content]="menu" [(open)]="dropdownOpen" tuiDropdownHover>
              <button class="menu-icon">
                <i class="fi fi-bs-menu-dots-vertical"></i>
              </button>
            </tui-hosted-dropdown>
            <ng-template #menu>
              <tui-data-list>
                <button (click)="edit(vehicle._id)" tuiOption class="edit-button">
                  <i class="fi fi-bs-pencil"></i>
                  Editar publicación
                </button>
                <button (click)="delete(vehicle._id)" tuiOption class="delete-button">
                  <i class="fi fi-bs-trash"></i> 
                  Borrar publicación
                </button>
              </tui-data-list>
            </ng-template>
          </div>
          <div class="image">
            @if (vehicle.portrait) {
              <img [src]="vehicle.portrait.url">
            } @else {
              <img src="https://placehold.co/600x400?text=Preview+no+disponible" alt="">
            }
          </div>
          <div class="description">
            <p><strong>{{vehicle.year}}</strong></p>
            <h2 class="title">{{vehicle.brand}} {{vehicle.model}}</h2>
            <p class="price"><tui-money currency="USD" [value]="vehicle.price"></tui-money></p>
            <div>
              <a class="buy-button" [routerLink]="['/explore/vehicle/', vehicle._id]">Ver vehiculo</a>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <h1>No has publicado ningún vehículo todavia</h1>
  }
} @placeholder {
  <div class="posts">
    @for(skeleton of [].constructor(6); track skeleton) {
      <div class="skeleton">
        <div class="actions">
        <div class="edit-button"></div>
      </div>
        <div class="image">
        </div>
        <div class="description">
          <div class="Year"></div>
          <div class="brand"></div>
          <div class="price"></div>
          <div>
            <div class="buy-button"></div>
          </div>
        </div>
      </div>
    }
  </div>
}