<div class="process">
    <div class="image">
        <img src="./assets/images/vehicle-2.png">
    </div>
    <div class="text">
        <h1 class="title">¿Cómo adquiero un vehículo?</h1>
        <ul class="process-list">
            <li class="process-item">
                <div class="icon">
                    <i class="fi fi-rr-search logo"></i>
                </div>
                <div class="description">
                    <h3>Busca</h3>
                    <p>En la sección de vehículos encontrarás muchas variantes.</p>
                </div>
            </li>
            <li class="process-item"> 
                <div class="icon">
                    <i class="fi fi-rr-search-alt logo"></i>
                </div>
                <div class="description">
                    <h3>Investiga</h3>
                    <p>Navegando entre los artículos, selecciona el que más te llame la atención para tener más detalles.</p>
                </div>
            </li>
            <li class="process-item">
                <div class="icon">
                    <i class="fi fi-rr-handshake logo"></i>
                </div>
                <div class="description">
                    <h3>Selecciona</h3>
                    <p>Una vez confirmaste que es lo que buscabas, le das al botón de contactar con el cual podrás comunicarte con el vendedor.</p>
                </div>
            </li>
        </ul>
    </div>
</div>