<div class="sell-car">
    <div class="sell">
        <div class="banner">
            <h1 class="tui-text_h1">Vende Tu Vehiculo!</h1>
            <h3 class="tui-text_h3">Step 1</h3>
            <p class="tui-text_body-xl">
                Get an instant cash offer
                Just enter details like VIN and mileage, and we'll get you the best price for your car from our dealer network—all in under two minutes.
            </p>
        </div>
        <div class="form">
            <app-sell-form></app-sell-form>
        </div>
    </div>
</div>