.sell{
    display: flex;
    gap: 15px;
    background-image: url('../../../assets/images/self-drive.jpg');
    background-size: auto;
    opacity: 90%;
    padding: 25px;
    border-radius: 15px;

    .banner{
        width: 40%;

        p, h1, h3{
            font-weight: 300;
            text-shadow: 0px 0px 1px rgb(0, 0, 0);
            color: rgb(0, 0, 0);
        }
    }

    .form{
        width: 60%;
    }
}