.edit-car {
    display: flex;
    flex-direction: column;
    align-items: center;

    .edition {
        width: 100%;

        .slider {
            width: 100%;

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .images{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contact {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .actions {
            position: sticky;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-self: center;
            padding: 20px 0;

            button {
                border-radius: 15px;
                border: none;
                font-size: 16px;
                height: 60px;
                width: 150px;
                cursor: pointer;
            }

            .backward-button {
                width: 60px;
                border-radius: 100px;
                background-color: rgba(255, 255, 255, 0.566);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                color: black;
                transition: all 400ms;
                font-size: 18px;

                &:hover {
                    box-shadow: rgba(149, 157, 165, 0.503) 0px 8px 24px;
                    background-color: #437994;
                    color: white;
                }

                &:active {
                    color: white;
                    background-color: #32627a;
                }
            }

            .forward-button {
                width: 60px;
                font-size: 18px;
                border-radius: 100px;
                background-color: rgba(255, 255, 255, 0.566);
                color: black;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition: all 400ms;

                &:hover {
                    background-color: white;
                }

                &:active {
                    background-color: white;
                }
            }

            .submit-button {
                transition: all 400ms;
                width: 190px;

                &:disabled {
                    background-color: rgb(220, 220, 220);
                    color: rgb(151, 151, 151);
                    cursor: default;
                }
            }
        }
    }
}