@mixin responsive($number) {
    @media(max-width: $number) {
        @content
    }
}

.content {
    width: 100%;
    display: flex;
    padding: 60px 200px;
    gap: 20px;
    min-height: 100vh;
    height: auto;

    @include responsive(1100px) {
        padding: 60px 20px;
    }

    @include responsive(800px) {
        flex-direction: column;
    }

    .filter-bar {
        box-sizing: border-box;
        flex-basis: 250px;
        height: 90vh;
        top: 60px;
        position: sticky;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        transition: all 400ms;
        border-right: 1px solid rgb(214, 214, 214);

        app-filter-bar {
            width: 100%;
        }

        @include responsive(800px) {
            display: none;
        }
    }

    .articles-content {
        width: calc(100% - 140px);
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include responsive(800px){
            width: 100%;
        }

        ng-component {
            width: 100%;
        }

        .articles {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            gap: 20px;
        }
    }

    .empty {
        height: 100vh;

        p {
            text-align: center;
            font-size: 30px;
        }
    }
}
