<div class="home">
    <div class="hero">
        <div class="text">
            <h1 class="title">
                Encuentra el vehículo que estas buscando
            </h1>
            <p class="description">
                Con mas de 1,500 vendedores que ofertan sus vehículos es imposible que no encuentres lo que buscas al mejor precio, nuevo y/o usado.
            </p>
        </div>
        <div class="image">
            <img src="./assets/images/hero-img.png">
        </div>
    </div>
    <div class="content">
        <h2 class="title_section">Tenemos todos los tipos</h2>
        <app-types></app-types>
        <app-process></app-process>
        <h2 class="title_section">Marcas</h2>
        <app-brands></app-brands>
        <h2 class="title_section">Recientes agregados</h2>
        <app-carousel></app-carousel>
    </div>
</div>
