@mixin mobileView {
    @media screen and (max-width: 450px) {
        @content
    }
}


.home{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .hero{
        box-sizing: border-box;
        border-radius: 15px;
        height: 90vh;
        background-color: #F2F4F8;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

        .text {
            padding: 0px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobileView {
                align-items: center;
            }

            .title {
                font-size: 50px;
                line-height: 3.7rem;

                @include mobileView {
                    font-size: 30px;
                    line-height: 2.0rem;
                }
            }

            .description {
                font-size: 15px;
                line-height: 1.7rem;
            }
        }
        
        .image {
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;

        .title_section{
            color: #6b6e80;
        }
    }
}