.home{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .types{
        border-radius: 15px;
        height: 90vh;
        background-image: url(../../../assets/images/banner.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: end;

        app-types{
            margin: 10px;
            border-radius: 15px;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
    }

    // .content{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // background-image: grey;
    // border-radius: 10px;
    // border: 2px solid rgb(219, 219, 219);
    // padding: 15px;
    // margin: 0;

    //     img{
    //         border-radius: 10px;
    //         width: 100%;
    //         height: 300px;
    //         pointer-events: none;
    //     }
    // }
}