.details{
    display: flex;
    align-items: center;
    height: 100%;

    .image{
        width: 50%;

        img{
            width: 100%;
            border-radius: 15px;
        }
    }

    .detail-cont{
        width: 50%;
        padding: 20px;
        display: grid;
        gap: 20px;

        .resume{
            border-radius: 15px;
            border: 2px solid rgb(219, 219, 219);
            padding: 10px;

            h3{
                font-size: 2.0rem;
                line-height: 2px;
            }

            p{
                font-size: 1.4rem;
            }
        }

        .detail{
            border-radius: 15px;
            border: 2px solid rgb(219, 219, 219);
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(2,1fr);

            p{
                font-size: 1.0rem;
            }
        }
    }
}