<div class="articles">
    <tui-island class="article" *ngFor="let article of articles">
        <img src="{{article.img}}" alt="">

        <h3 class="tui-island__title">{{article.brand}} {{article.model}}</h3>
        <p class="tui-island__paragraph" >{{article.price}}</p>
        <p class="tui-island__paragraph tui-island__paragraph_button">
          <a 
          tuiButton 
          appearance="secondary"
          [routerLink]="['/vehicle', article._id]"
          >Ver vehiculo</a>
        </p>
    </tui-island>
</div>
