.articles{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    .loader{
        position: fixed;
        z-index: 10;
    }

    .article{
        border-radius: 15px;

        img{
            border-radius: 15px;
            width: 100%;
        }
    }
}