.wrapper{
    width: 100%;

    .articles {
        padding: 20px 0px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        overflow-x: scroll;
        gap: 30px;
    }
}