<tui-root>
    <app-navbar>
        <ng-template #links let-link>
            @for (route of routes; track route.name) {
            <a class="link-item" [routerLink]='[route.path]' routerLinkActive="active">{{route.name}}</a>
            }
        </ng-template>
        <ng-template #linksSideNavBar let-link>
            @for (route of routes; track route.name) {
            <div class="nav-item" [routerLink]='[route.path]' routerLinkActive="nav-link-item-active">
                <i class="icon {{route.icon}}"></i>
                <a class="nav-link-item">{{route.name}}</a>
            </div>
            }
        </ng-template>
        <ng-template #optionLink let-link>
            @for (route of optionLinks; track route.name) {
            <a class="option-link" [routerLink]='[route.path]' routerLinkActive="active">
                <i class="icon {{route.icon}}"></i>
                {{route.name}}
            </a>
            }
        </ng-template>
    </app-navbar>
    <router-outlet/>
    <app-footer/>
</tui-root>