<div class="details">
    <div class="image">
        <img src="{{details[0].img}}">
    </div>
    <div class="detail-cont">
        <div class="resume">
            <h3 class="tui-text_h3">{{details[0].year}} {{details[0].brand}}</h3>
            <p class="tui-text_h3">{{details[0].model}}</p>
            <p class="tui-text_xl">{{details[0].price}}</p>
        </div>
        <div class="detail">
            <p class="tui-text_h3"><strong>Contacto:</strong> {{details[0].owner_email}}</p>
            <p class="tui-text_xl"><strong>Ubicacion:</strong> {{details[0].location}}</p>
            <p class="tui-text_xl"><strong>Tipo:</strong> {{details[0].type}}</p>
            <p class="tui-text_xl"><strong>Combustion: </strong> {{details[0].fuel}}</p>
        </div>
        <button tuiButton >Contactar para comprar</button>
    </div>
</div>
