@mixin responsive($number) {
  @media(max-width: $number) {
    @content
  }
}

.title {
  text-align: center;

  @include responsive(800px) {
    display: none;
  }
}

.link {
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 10px;
  transition: all 400ms;
  text-decoration: none;
  align-items: center;
  font-size: 16px;

  @include responsive(800px) {
    display: none;
  }

  &:hover {
    background-color: #28586b;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  &:active {
    background-color: #1f4453;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
    font-weight: 800;
  }

  i {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0;
    text-decoration: none;

    @include responsive(800px) {
      text-align: center;
      font-size: 14px;
    }
  }
}

.toolbar-link {
  width: 100%;
  padding: 5px;
  display: none;
  gap: 10px;
  transition: all 400ms;
  text-decoration: none;
  align-items: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.873);

  @include responsive(800px) {
    display: flex;
  }

  &:hover {
    color: #28586b;
    border-bottom: 2px solid #28586b;
  }

  &:active {
    color: #1f4453;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    font-weight: 800;
    border-bottom: 2px solid #1f4453;
  }

  i {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0;
    text-decoration: none;

    @include responsive(800px) {
      text-align: center;
      font-size: 14px;
    }
  }
}

.active {
  background-color: #28586b;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  font-weight: 800;
}

.toolbar-link-active {
  background-color: transparent;
  color: #28586b;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  font-weight: 800;
  border-bottom: 2px solid #28586b;
}