@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
  text-align: center;
}

.link {
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 10px;
  transition: all 400ms;
  text-decoration: none;
  align-items: center;
  font-size: 16px;

  &:hover {
    background-color: #28586b;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  &:active {
    background-color: #1f4453;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    font-weight: 800;
  }
}

.active {
  background-color: #28586b;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  font-weight: 800;
}