<div class="sell-fom">

    <form (ngSubmit)="publish()" [formGroup]="sellVehicleForm">
        <div class="form">
            <tui-input formControlName="owner_email">E-mail
                <input tuiTextfield placeholder="E-mail para contactarte"/>
            </tui-input>

            <tui-input formControlName="location">Ubicacion
                <input tuiTextfield placeholder="Ubicacion de la venta"/>
            </tui-input>

            <tui-combo-box formControlName="brand">Marca
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-combo-box formControlName="type">Tipo
                <input
                    tuiTextfield
                    placeholder="Tipo de vehiculo"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-input formControlName="model">Modelo
                <input tuiTextfield placeholder="Modelo del vehiculo"/>
            </tui-input>

            <tui-combo-box formControlName="condition">Condicion
                <input
                    tuiTextfield
                    placeholder="Condicion del vehiculo"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-combo-box formControlName="fuel">Combustible
                <input
                    tuiTextfield
                    placeholder="Tipo de Combustible"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-input-year formControlName="year" class="b-form"> Choose a year
                <input
                    tuiTextfield
                />
            </tui-input-year>

            <tui-input formControlName="price">Precio
                <input tuiTextfield placeholder=""/>
            </tui-input>

            <tui-input formControlName="img">Foto
                <input tuiTextfield placeholder=""/>
            </tui-input>
        </div>
        <br/>
        <button type="submit" tuiButton>Publicar Vehiculo</button>
    </form>
</div>
