<div class="sell-fom">

    <form (ngSubmit)="publish()" [formGroup]="sellVehicleForm">
        <div class="form">
            <tui-input 
            formControlName="owner_email"
            tuiTextfieldIcon="tuiIconMailLarge"
            >E-mail
                <input tuiTextfield placeholder="E-mail para contactarte"/>
            </tui-input>

            <tui-input tuiTextfieldIcon="tuiIconMapPinLarge" formControlName="location">Ubicacion
                <input tuiTextfield placeholder="Ubicacion de la venta"/>
            </tui-input>

            <tui-combo-box tuiTextfieldIcon="" formControlName="brand">Marca
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="brands"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-combo-box tuiTextfieldIcon="" formControlName="type">Tipo
                <input
                    tuiTextfield
                    placeholder="Tipo de vehiculo"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="type"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-input formControlName="model">Modelo
                <input tuiTextfield placeholder="Modelo del vehiculo"/>
            </tui-input>

            <tui-combo-box formControlName="condition">Condicion
                <input
                    tuiTextfield
                    placeholder="Condicion del vehiculo"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="condition"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-combo-box tuiTextfieldIcon="" formControlName="fuel">Combustible
                <input
                    tuiTextfield
                    placeholder="Tipo de Combustible"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="fuel"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-input-year formControlName="year" class="b-form"> Choose a year
                <input
                    tuiTextfield
                />
            </tui-input-year>

            <tui-input tuiTextfieldIcon="tuiIconDollarSignLarge" formControlName="price">Precio
                <input tuiTextfield placeholder=""/>
            </tui-input>

            <tui-input tuiTextfieldIcon="tuiIconImageLarge" formControlName="img">Foto
                <input tuiTextfield placeholder=""/>
            </tui-input>
        </div>
        <br/>
        <button type="submit" tuiButton>Publicar Vehiculo</button>
    </form>
</div>
