<div class="background" (keydown)="close()">
    <section class="actions">
        <button class="close-button" (click)="close()">
            <i class="fi fi-rr-cross-small"></i>
        </button>
    </section>
    <section class="previewer">
        <tui-carousel class="carousel" #carousel [index]="index" (indexChange)="trackIndex($event)">
            @for(image of images; track image.id) {
                <div class="image-cont" *tuiItem >
                    <img [src]="image.url" class="preview">
                </div>
            }
        </tui-carousel>
    </section>
    <section class="selector" >
        <div class="images">
            @for(image of images; track image.id) {
                <img [src]="image.url" class="preview" (click)="changeIndex($index)">
            }
        </div>
    </section>
</div>