<div class="settings">
    <div class="side-bar">
      <app-side-bar class="content" #sideBar></app-side-bar>
    </div>
    <div class="mobile-side-bar" #sideBar [@expansion]="!expanded? 'close' : 'open'">
        <button (click)="expanded = !expanded" type="button" class="close-button">
          <i class="fi fi-rr-cross icon"></i>
        </button>
      <app-side-bar class="content"></app-side-bar>
    </div>
    <div class="content">
        <header class="header">
          <button (click)="expanded = !expanded" type="button" class="open-sidebar-button">
            <i class="fi fi-rr-menu-dots icon"></i>
          </button>
          <h1>Pérfil</h1>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>
