<div class="profile">
    <ng-container *ngIf="user$ | async as user">
        <header class="profile-header">
            <img class="profile-picture" [src]="user.picture" alt="Foto de peril">
            <div class="profile">
                <h3 class="profile-name">{{user.name}}</h3>
                <h3 class="profile-email">{{user.email}}</h3>
            </div>
        </header>
        <div class="profile-description">
            <div class="profile-field">
                <p class="field-name">Nombre:</p>
                <p class="field-desc">{{user.name}}</p>
            </div>
            <div class="profile-field">
                <p class="field-name">Apellido:</p>
            </div>
            <div class="profile-field">
                <p class="field-name">Correo:/p>
                <p class="field-desc">{{user.email}}</p>
            </div>
            <div class="profile-field">
                <p class="field-name">Número de teléfono:</p>
            </div>
        </div>
    </ng-container>
</div>