<form [formGroup]="filter">
    <tui-input 
        formControlName="model"
        tuiTextfieldSize="m" 
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
        tuiTextfieldIconLeft="tuiIconSearch"
    >
        Buscar...
        <input tuiTextfield type="text" />
    </tui-input>
    <div class="fuel">
        <h4>Combustible</h4>
        <div class="list options">
            <tui-radio-labeled formControlName="fuel" class="tui-space_bottom-3" item="">
                Todos
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="fuel" class="tui-space_bottom-3" item="Eléctrico">
                Eléctrico
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="fuel" class="tui-space_bottom-3" item="Gasolina">
                Gasolina
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="fuel" class="tui-space_bottom-3" item="Gasoil">
                Gasoil
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="fuel" class="tui-space_bottom-3" item="Híbrido">
                Híbrido
            </tui-radio-labeled>
        </div>
    </div>
    <div class="condition">
        <h4>Condición</h4>
        <div class="list options">
            <tui-radio-labeled formControlName="condition" class="tui-space_bottom-3" item="">
                Todos
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="condition" class="tui-space_bottom-3" item="Nuevo">
                Nuevo
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="condition" class="tui-space_bottom-3" item="Usado">
                Usado
            </tui-radio-labeled>
        </div>
    </div>
    <div class="type">
        <h4>Tipo de vehiculo</h4>
        <div class="list options">
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="">
                Todos
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Motor">
                Motor
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Sedán">
                Sedán
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Jeepeta">
                Jeepeta
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Camioneta">
                Camioneta
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Sport">
                Sport
            </tui-radio-labeled>
            <tui-radio-labeled formControlName="type" class="tui-space_bottom-3" item="Camión">
                Camión
            </tui-radio-labeled>
        </div>
    </div>
    <div class="brands">
        <h4>Marcas</h4>
        <tui-combo-box formControlName="brand" [tuiTextfieldLabelOutside]="true" [tuiTextfieldSize]="'m'" tuiTextfieldFiller="Marca">
            <tui-data-list-wrapper *tuiDataList [items]="brands"></tui-data-list-wrapper>
        </tui-combo-box>
    </div>
    <button class="btn-search" (click)="search()">
        Buscar
    </button>
</form>