.vehicle-info {
    height: 100vh;
    display: grid;
    gap: 20px;
    width: 80%;
    place-content: center;
    align-self: center;

    .form-title {
        text-align: center;
    }
    
    .vehicle-info-form {
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.option {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    transition: all 400ms;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    
    &:hover {
        background-color: #f5f5f5;
    }

    .logo {
        width: 30px;
    }
}