/* You can add global styles to this file, and also import other style files */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}