// @mixin responsive($number) {
//     @media(max-width: $number) {
//         @content
//     }
// }

.sell-car {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sell {
        width: 100%;

        .slider {
            width: 100%;

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .images{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contact {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .actions {
            position: sticky;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-self: center;
            padding: 20px 0;

            button {
                border-radius: 15px;
                border: none;
                font-size: 16px;
                font-family: Poppins;
                height: 60px;
                width: 150px;
                cursor: pointer;
            }

            .backward-button {
                background-color: rgba(255, 255, 255, 0.873);
                backdrop-filter: saturate(180%) blur(20px);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                color: black;
                transition: all 400ms;

                &:hover {
                    box-shadow: rgba(149, 157, 165, 0.503) 0px 8px 24px;
                    background-color: #437994;
                    color: white;
                }

                &:active {
                    color: white;
                    background-color: #32627a;
                }
            }

            .forward-button {
                background-color: #234454;
                color: white;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition: all 400ms;

                &:hover {
                    background-color: #32627a;
                }

                &:active {
                    background-color: #0d1a20;
                }
            }

            .submit-button {
                transition: all 400ms;
                width: 190px;
            }
        }
    }
}
