<div class="sell-car">
    <div class="sell">
        @if (user$ | async; as user) {
        <form (ngSubmit)="loadData(user.sub)" [formGroup]="sellVehicleForm" enctype="multipart/form-data">
            <tui-carousel class="slider" #carousel>
                <app-vehicle-info-form *tuiItem class="info" formGroupName="info"/>
                <app-vehicle-images-form *tuiItem class="images" formGroupName="images"/>
                <app-contact-info-form *tuiItem class="contact" formGroupName="contact"/>
            </tui-carousel>
            <div class="actions">
                <button type="button" (click)="carousel.prev()" class="backward-button">
                    <i class="fi fi-br-angle-small-left"></i>
                </button>
                <button type="submit" class="submit-button" [disabled]="sellVehicleForm.invalid">Publicar Vehículo</button>
                <button type="button" (click)="carousel.next()" class="forward-button">
                    <i class="fi fi-br-angle-small-right"></i>
                </button>
            </div>
        </form>
        }
    </div>
</div>