@mixin mobileView {
    @media screen and (max-width: 450px) {
        @content
    }
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .image-gallery {
        width: 50%;
        display: grid;

        img {
            width: 100%;
            border-radius: 15px;
        }

        @include mobileView {
            padding: 20px 20px 0px 20px;
        }
    }

    .details {
        width: 50%;
        padding: 20px;
        display: grid;
        gap: 20px;

        .resume {
            border-radius: 15px;
            border: 2px solid rgb(219, 219, 219);
            padding: 10px;

            h3 {
                font-size: 2.0rem;
                line-height: 2px;

                @include mobileView {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 1.4rem;

                @include mobileView {
                    font-size: 1.0rem;
                }
            }
        }

        .detail {
            border-radius: 15px;
            border: 2px solid rgb(219, 219, 219);
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            p {
                font-size: 1.0rem;
            }
        }

        .buy-button {

            @include mobileView {
                position: sticky;
                top: 0;
            }
        }
    }
}