<div class="details">
    <div class="image-allery" *ngFor="let image of vehicle.images">
        <img src="data:{{image.contentType}};base64,{{toBase64(image.data.data)}}">
    </div>
    <div class="details">
        <div class="resume">
            <h3 class="tui-text_h3">{{vehicle.year}} {{vehicle.brand}}</h3>
            <p class="tui-text_h3">{{vehicle.model}}</p>
            <p class="tui-text_xl"><tui-money currency="USD" [value]="vehicle.price"></tui-money></p>
        </div>
        <div class="detail">
            <p class="tui-text_h3"><strong>Contacto:</strong> {{vehicle.owner_email}}</p>
            <p class="tui-text_xl"><strong>Ubicacion:</strong> {{vehicle.location}}</p>
            <p class="tui-text_xl"><strong>Tipo:</strong> {{vehicle.type}}</p>
            <p class="tui-text_xl"><strong>Combustion: </strong> {{vehicle.fuel}}</p>
        </div>
        <button tuiButton >Contactar para comprar</button>
    </div>
</div>
