@defer (when isLoading$ | async) {
    <div class="details">
        <div class="image-gallery">
            @for (image of vehicle.images; track i; let i = $index) {
                <img class="image{{i}}" [src]="image.url">
            } @empty {
                <img class="image1" src="https://placehold.co/600x400?text=Preview+no+disponible" alt="">
            }
        </div>
        <div class="detail">
            <div class="resume">
                <a class="tui-text_h3" (click)="getBack()">
                  <i class="fi fi-rr-arrow-small-left icon"></i>
                  {{vehicle.year}} {{vehicle.brand}}
                </a>
                <p class="tui-text_h3">{{vehicle.model}}</p>
                <p class="tui-text_xl"><tui-money currency="USD" [value]="vehicle.price"></tui-money></p>
            </div>
            <div class="information">
                <div class="field">
                    <p class="title"><strong>Contacto:</strong></p>
                    <p>{{vehicle.seller.email}}</p>
                </div>
                <div class="field">
                    <p class="title"><strong>Ubicacion:</strong></p>
                    <p>{{vehicle.location}}</p>
                </div>
                <div class="field">
                    <p class="title"><strong>Tipo:</strong></p>
                    <p>{{vehicle.type}}</p>
                </div>
                <div class="field">
                    <p class="title"><strong>Combustion:</strong></p>
                    <p>{{vehicle.fuel}}</p>
                </div>
                <div class="field">
                    <p class="title"><strong>Condición: </strong></p>
                    <p>{{vehicle.condition}}</p>
                </div>
                <div class="field">
                    <p class="title"><strong>Vendedor: </strong></p>
                    <p>{{vehicle.seller.name}}</p>
                </div>
            </div>
            <button class="button" (click)="onContact(content, header, 'm')">Contactar para comprar</button>
        </div>
    </div>
    <ng-template #content let-observer>
        <h4>Opciones de contacto</h4>
        <div class="buttons">
            <a href="mailto:{{ vehicle.seller.email }}?Subject=Interes en tu publicación de RoadRunners&body=Hola estoy interesado en el vehículo en venta que publicó en https://road-runners-front.vercel.app/explore/vehicle/{{vehicle._id}}" (click)="observer.complete()" >
                <p>Contactar por email</p>
            </a>
            <a href="tel:{{ vehicle.seller.phone }}" (click)="observer.complete()">
                <p>Llamar a {{ vehicle.seller.phone | tuiFormatPhone : '+1' : '(###) ###-####' }}</p>
            </a>
        </div>
    </ng-template>
    <ng-template #header>
        <div class="header">
            <tui-avatar size="l" [text]="vehicle.seller.name || 'RR'" [avatarUrl]="vehicle.seller.picture"></tui-avatar>
            <h2>{{ vehicle.seller.name }}</h2>
            <h5>vendedor</h5>
        </div>
    </ng-template>
} @placeholder {
    <div class="skeleton">
        <div class="image-gallery">
            @for (image of [].constructor(7); track image; let i = $index) {
                <div class="image{{i}}"></div>
            }
        </div>
        <div class="detail">
            <div class="resume">
                <div class="get-back"></div>
                <div class="model"></div>
                <p></p>
            </div>
            <div class="information">
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
                <div class="field">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <button class="button"></button>
        </div>
    </div>
}