@mixin responsive($number) {
  @media(max-width: $number) {
    @content
  }
};

$base-color: #275669;
$hover-color: #24637a;
$active-color: #24637a;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 60px 200px;

  @include responsive(1100px) {
    padding: 60px 20px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    border-radius: 15px;

    @include responsive(560px) {
      display: flex;
      overflow-x: scroll;
      padding: 0;
    }

    img {
      width: 100%;
      border-radius: 15px;
      box-shadow: $box-shadow;
      cursor: pointer;
      transition: transform 400ms;

      @include responsive(560px) {
        width: 400px;
      }

      &:active {
        transform: scale(0.90);
      }
    }

    .image0 {
      grid-column: span 2;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .resume {
      box-sizing: border-box;
      width: 100%;
      border-radius: 15px;
      box-shadow: $box-shadow;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.645);
      height: auto;

      a {
        font-size: 2.0rem;
        line-height: 2px;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 10px 0;
        gap: 10px;
        transition: all 400ms;
        cursor: pointer;

        @include responsive(450px) {
          font-size: 1.8rem;
        }

        &:hover {
          background-color: #28586b;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
          padding: 10px;
        }

        &:active {
          background-color: #1f4453;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
          padding: 10px;
        }

        .icon {
          font-size: 30px;
          border-radius: 15px;
          transition: all 400ms;
          font-weight: bold;
        }
      }

      p {
        font-size: 1.4rem;

        @include responsive(450px) {
          font-size: 1.0rem;
        }
      }
    }

    .information {
      box-sizing: border-box;
      width: 100%;
      border-radius: 15px;
      box-shadow: $box-shadow;
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: rgba(255, 255, 255, 0.782);

      @include responsive(1000px) {
        grid-template-columns: repeat(1, 1fr);
      }

      p {
        font-size: 1.0rem;
      }

      .field {
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
      }
    }

    .button {
      width: 100%;
      padding: 20px;
      border-radius: 15px;
      border: none;
      color: white;
      font-weight: 800;
      font-size: 15px;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      cursor: pointer;

      @include responsive(450px) {
        position: sticky;
        top: 0;
      }
    }
  }
}

.skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 60px 200px;

  @include responsive(1100px) {
    padding: 60px 20px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    border-radius: 15px;

    @include responsive(560px) {
      display: flex;
      overflow-x: hidden;
      padding: 0;
    }

    div {
      width: 100%;
      height: 160px;
      border-radius: 15px;
      box-shadow: $box-shadow;
      background-color: hsl(200, 20%, 95%);
      animation: loading-animation 1s linear infinite alternate;
    }

    .image0 {
      grid-column: span 2;
      height: 280px;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .resume {
      box-sizing: border-box;
      width: 100%;
      border-radius: 15px;
      border: 1px solid rgb(201, 201, 201);
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.782);
      height: auto;

      .get-back {
        width: 240px;
        height: 40px;
        border-radius: 15px;
        background-color: hsl(200, 20%, 95%);
        animation: loading-animation 1s linear infinite alternate;
      }

      .model {
        width: 260px;
        height: 40px;
        margin: 22.4px 0;
        border-radius: 15px;
        background-color: hsl(200, 20%, 95%);
        animation: loading-animation 1s linear infinite alternate;
      }

      p {
        width: 60px;
        height: 30px;
        border-radius: 15px;
        background-color: hsl(200, 20%, 95%);
        animation: loading-animation 1s linear infinite alternate;
      }
    }

    .information {
      box-sizing: border-box;
      width: 100%;
      border-radius: 15px;
      border: 1px solid rgb(201, 201, 201);
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: rgba(255, 255, 255, 0.782);
      gap: 25px;

      @include responsive(1000px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .field {
        display: grid;
        gap: 25px;

        div {
          height: 25px;
          border-radius: 7px;
          background-color: hsl(200, 20%, 95%);
          animation: loading-animation 1s linear infinite alternate;
        }
      }

    }

    .button {
      width: 100%;
      height: 50px;
      padding: 20px;
      border-radius: 15px;
      border: 1px solid rgb(201, 201, 201);
      font-weight: 800;
      font-size: 20px;
      background-color: hsl(200, 20%, 95%);
      animation: loading-animation 1s linear infinite alternate;
    }
  }

  @keyframes loading-animation {
    0% {
      background-color: hsl(0, 0%, 93%);
    }
    100% {
      background-color: hsl(0, 0%, 91%);
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
  gap: 10px;

  a {
    height: 45px;
    border-radius: 15px;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all 400ms;
    font-family: 'Inter', sans-serif;
    background-color: $base-color;
    text-align: center;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }

    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
  }
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(13,66,86);
  background: radial-gradient(circle, rgba(13,66,86,1) 20%, rgb(3, 32, 37) 86%); 

  h2 {
    color: rgba(255, 255, 255, 0.888);
    font-family: 'Inter', sans-serif;
  }

  h5 {
    color: rgba(255, 255, 255, 0.749);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
}