<ng-container>
  <div class="images">
    <h1 class="form-title">Imagenes del vehículo</h1>
    <div class="images-form">
      @for(image of previewImages; track image; let i = $index) {
        <div class="image-preview">
            <img src="data:{{image.contentType}};base64,{{toBase64(image.data.data)}}">
            <button (click)="deletePreview(i)" class="delete-preview">
              <i class="fi fi-rr-trash"></i>
            </button>
        </div>
      } @empty {}
      <input class="images-input" (change)="previewImage($event)" id="images-input" type="file" accept="image/png, image/jpg, image/jpeg, image/webp" multiple>
      @if(previewImages.length < 7) {
        <label class="images-label" for="images-input">
          <div class="logo"><i class="fi fi-rr-inbox-out logo"></i></div>
          <p>Clickea aquí para subir las imagenes</p>
        </label>
      }
    </div>
  </div>
</ng-container>
